<!-- Nav Menu -->
    <nav id="navmenu" class="navmenu">
    <ul>
        {% for menu in menus %}
        <li>
            <a href="{% if menu.route %} {{ path(menu.route, {'slug' : menu.slug }) }} {% endif %}" class="{% if loop.index == 1 %}active{% endif %}">
                {{ menu.titre }}
            </a>
            {% if menu.getmenus()|length > 0 %}
            {# LES SOUS MENUS #}
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
<!-- End Nav Menu -->

<a class="btn-getstarted" href="#">Nous soutenir</a>